.order-detail-container {
    display: flex;
    width: 100vh;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #F5F5F5;
}

.header-container {
    background-color: #d9d9d9;
    font-weight: bold;
    font-size: 15px;
    width: 1000px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
}

.section-details {
    margin-left: 220px;
    margin-top: 20px;
}

.order-section {
    background-color: #d9d9d9;
    font-size: 15px;
    width: 1000px;
    height: 300px;
    margin-top: 50px;
    margin-left: 20px;
}

.order-section span {
    font-weight: bold;
}

.order-detail-header span {
    margin-right: 96px;
}

.order-detail-header,
.order-detail-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.summary-detail .quantity {
    margin-right: 10px;
}

.service-text p {
    margin: 0;
    line-height: 1.2;
}

.quantity {
    flex: 1;
    text-align: left;
    margin-left: 85px;
}

.completion-time {
    flex: 1;
    text-align: left;
    margin-left: -220px;
}

.status {
    flex: 1;
    text-align: left;
}

.status-pending {
    color: red;
    margin-left: -90px;
}

/* Button alignment to the right */
.action {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}

.deliver-button {
    background-color: #e8c67e;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    width: 100px;
    margin-top: 52px;
}

.order-summary {
    background-color: #fff;
    padding: 20px;
}

.summary-order {
    display: inline;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}