.order-detail-container {
    display: flex;
    width: 100vh;
}

.order-admin-full {
    margin-left: 30px;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #F5F5F5;
}

.header-container {
    background-color: #d9d9d9;
    font-weight: bold;
    font-size: 15px;
    width: 1070px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
}

.section-name {
    margin-left: 20px;
}

.section-details {
    margin-left: 350px;
    margin-top: 20px;
}

.order-section {
    background-color: #d9d9d9;
    font-size: 15px;
    width: 1070px;
    height: 300px;
    margin-top: 50px;
    margin-left: 20px;
}

.order-section span {
    font-weight: bold;
}

.order-detail-header span {
    margin-right: 96px;
    margin-left: 12px;
}

.order-detail-header,
.order-detail-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.summary-detail .quantity {
    margin-right: 10px;
}

.service-text p {
    margin-left: 15px;
    line-height: 1.2;
}

.quantity {
    flex: 1;
    text-align: left;
    margin-left: 95px;
}

.completion-time {
    flex: 1;
    text-align: left;
    margin-left: -10px;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.date-label {
    font-size: 12px;
    color: #a0a0a0;
    margin-bottom: 4px;
}

/* Custom input styles */
.custom-input {
    padding: 8px;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    background-color: #f8f8f8;
    width: 100%;
    box-sizing: border-box;
}

.custom-input:hover,
.custom-input:focus {
    border-color: #7f56da;
    outline: none;
}

/* DatePicker calendar icon */
.react-datepicker__input-container .react-datepicker__input {
    width: 100%;
}

.react-datepicker-wrapper {
    width: 100%;
}

.custom-input {
    padding: 8px;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    background-color: #f8f8f8;
    width: 50%;
    box-sizing: border-box;
}

.status {
    flex: 1;
    text-align: left;
}

.status-pending {
    color: red;
    margin-left: 50px;
}

.date-picker {
    margin-left: -120px;
}

/* Button alignment to the right */
.action {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 25px;
}

#menu {
    list-style: none;
    height: 48px;
}

#menu li {
    text-align: left;
    color: #fff;
}

#menu li a {
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 15px;
    color: black;
    padding: 10px 20px;
    background-color: wheat;
}

.arrow {
    width: 0;
    height: 0;
    display: inline-flex;
    color: black;
    margin-left: 6px;
    margin-right: 0px;
}

.arrow-down {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #fff;
}

#menu>li {
    float: left;
    border-right: 1px solid #fff;
    position: relative;
}

#menu>li>ul.dropdown_menu {
    position: absolute;
    list-style: none;
    display: none;
    top: 48px;
    left: 0;
    width: 200px;
}

ul.dropdown_menu>li:hover>a {
    background-color: #e8c67e !important;
}

#menu>li:hover>a {
    background-color: #5C5C5C;
}

#menu>li:hover>ul.dropdown_menu {
    z-index: 100;
    display: block;
}

.deliver-button {
    background-color: #e8c67e;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    width: 100px;
    margin-top: 10px;
}

.order-summary {
    background-color: #fff;
    padding: 20px;
}

.service-img {
    width: 74px;
    height: 83.55px;
    margin-left: 20px;
}

.summary-order {
    display: inline;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-top: 20px;
}