.staff-management-container {
    display: flex;
}

.staff-table-container {
    flex: 1;
    padding: 20px;
}

.sidebar {
    width: 250px; /* Adjust the width as needed */
}

.page-title {
    text-align: left; /* Align the title to the left */
    margin-bottom: 20px; /* Add some space below the title */
}

.staff-table {
    width: 100%;
    border-collapse: collapse;
}

/* Center the text in table cells */


.staff-table th, .staff-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; /* Center text */
}


.staff-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.staff-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.staff-table tr:hover {
    background-color: #ddd;
}

.filter-search-container {
    display: flex;
   gap: 10px;
   align-items: baseline;
    margin-bottom: 20px; /* Space below the filter and search bar */
}
.staff-filter {
    flex: 7;
}
.search-bar {
    flex: 3;
}
button {
    border-radius: 5px;
    width: 80px;
    background-color: rgb(194, 185, 101); /* Change button color to RGB */
    
}
