.grave-detail {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #f0f0f0;
    padding: 20px;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 10px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #333;
}

.grave-detail-list {
    padding: 20px;
    flex: 1;
    overflow-y: auto;
}

.status-fillers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.status-fillers label {
    display: inline;
    flex-direction: column;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

.pagination {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.pagination span {
    cursor: pointer;
}

.hoai {
    width: 324px;
    height: 339px;
}

h2 {
    text-align: center;
}

p {
    text-align: left;
}

label {
    display: flex;
    flex-direction: row;
}

h1 {
    text-align: left;
}

.we p {
    justify-content: center;
    display: flex;
    flex-direction: row;
}