.logo {
    width: 188.05px;
    height: 91.15px;
}

.sidebar {
    width: 250px;
    background-color: #97948a;
    color: white;
    height: 100vh;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 20px 0;
    cursor: pointer;
}

.dashboard {
    flex: 1;
    padding: 20px;
}

h1 {
    color: #3e2723;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.stat {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    width: 100px;
}

.filters {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.charts {
    display: flex;
    justify-content: space-around;
}

.chart {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    text-align: center;
}